h3{
    font-size: 16px;
    color: magenta;
}

p{

    color: chartreuse;
}

/* 5 - Classes ....................*/
.paragrafo {
    background-color: darkgoldenrod;
    font-size: 16px;
    color: black;
}

/* 6 - ID #########################*/
#titulo-exclusivo{
    background-color: black;
    color: aqua;
}

/* 7 - especificidade no CSS */
#algum-titulo{  /*  ID    */
    background-color: burlywood;
    color: blue;
}

.titulo{         /*  CLASSE   */
    background-color: blueviolet !important;
    color: azure;

}

h2{
    background-color: chocolate;
    color: aquamarine;
}

/* 8 - hexadecimal */
/* #RRGGBB */
.hexadicemal{
    background-color: #12ED44;
    counter-reset: #ffffff;
}

/* 9 - RGB */
.rgb{
    color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 0);
}

.rgba{
    color: rgba(0, 255, 0, 0.5);
    background-color: rgb(0, 0, 0);
}